<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxhn30AjbWr4LXhBVshb0ccq1fUmt5DXo</string>
	<key>GCM_SENDER_ID</key>
	<string>274334302642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>azhuo.uplift</string>
	<key>PROJECT_ID</key>
	<string>uplift-5b140</string>
	<key>STORAGE_BUCKET</key>
	<string>uplift-5b140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274334302642:ios:bc11c298bd31b05a2064ab</string>
</dict>
</plist>